<%= form_for(@contest3rd) do |f| %>
  <% if @contest3rd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest3rd.errors.count, "error") %> prohibited this contest3rd from being saved:</h2>

      <ul>
      <% @contest3rd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :a_score %><br />
    <%= f.number_field :a_score %>
  </div>
  <div class="field">
    <%= f.label :a_clear %><br />
    <%= f.number_field :a_clear %>
  </div>
  <div class="field">
    <%= f.label :b_score %><br />
    <%= f.number_field :b_score %>
  </div>
  <div class="field">
    <%= f.label :b_clear %><br />
    <%= f.number_field :b_clear %>
  </div>
  <div class="field">
    <%= f.label :c_score %><br />
    <%= f.number_field :c_score %>
  </div>
  <div class="field">
    <%= f.label :c_clear %><br />
    <%= f.number_field :c_clear %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :music %><br />
    <%= f.text_field :music %>
  </div>
  <div class="field">
    <%= f.label :difficulty %><br />
    <%= f.text_field :difficulty %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :team %><br />
    <%= f.text_field :team %>
  </div>
  <div class="field">
    <%= f.label :movie_url %><br />
    <%= f.text_field :movie_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
