= form_for(@contest3rd) do |f|
  - if @contest3rd.errors.any?
    #error_explanation
      %h2
        = pluralize(@contest3rd.errors.count, "error")
        prohibited this contest3rd from being saved:
      %ul
        - @contest3rd.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :a_score
    %br/
    = f.number_field :a_score
  .field
    = f.label :a_clear
    %br/
    = f.number_field :a_clear
  .field
    = f.label :b_score
    %br/
    = f.number_field :b_score
  .field
    = f.label :b_clear
    %br/
    = f.number_field :b_clear
  .field
    = f.label :c_score
    %br/
    = f.number_field :c_score
  .field
    = f.label :c_clear
    %br/
    = f.number_field :c_clear
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :music
    %br/
    = f.text_field :music
  .field
    = f.label :difficulty
    %br/
    = f.text_field :difficulty
  .field
    = f.label :order
    %br/
    = f.number_field :order
  .field
    = f.label :team
    %br/
    = f.text_field :team
  .field
    = f.label :movie_url
    %br/
    = f.text_field :movie_url
  .actions
    = f.submit
