%h1 Listing contest3rds
%table
  %tr
    %th A score
    %th A clear
    %th B score
    %th B clear
    %th C score
    %th C clear
    %th Name
    %th Music
    %th Difficulty
    %th Order
    %th Team
    %th Movie url
    %th
    %th
    %th
  - @contest3rds.each do |contest3rd|
    %tr
      %td= contest3rd.a_score
      %td= contest3rd.a_clear
      %td= contest3rd.b_score
      %td= contest3rd.b_clear
      %td= contest3rd.c_score
      %td= contest3rd.c_clear
      %td= contest3rd.name
      %td= contest3rd.music
      %td= contest3rd.difficulty
      %td= contest3rd.order
      %td= contest3rd.team
      %td= contest3rd.movie_url
      %td= link_to 'Show', contest3rd
      %td= link_to 'Edit', edit_contest3rd_path(contest3rd)
      %td= link_to 'Destroy', contest3rd, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Contest3rd', new_contest3rd_path
