<h1>Listing contest3rds</h1>

<table>
  <tr>
    <th>A score</th>
    <th>A clear</th>
    <th>B score</th>
    <th>B clear</th>
    <th>C score</th>
    <th>C clear</th>
    <th>Name</th>
    <th>Music</th>
    <th>Difficulty</th>
    <th>Order</th>
    <th>Team</th>
    <th>Movie url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contest3rds.each do |contest3rd| %>
  <tr>
    <td><%= contest3rd.a_score %></td>
    <td><%= contest3rd.a_clear %></td>
    <td><%= contest3rd.b_score %></td>
    <td><%= contest3rd.b_clear %></td>
    <td><%= contest3rd.c_score %></td>
    <td><%= contest3rd.c_clear %></td>
    <td><%= contest3rd.name %></td>
    <td><%= contest3rd.music %></td>
    <td><%= contest3rd.difficulty %></td>
    <td><%= contest3rd.order %></td>
    <td><%= contest3rd.team %></td>
    <td><%= contest3rd.movie_url %></td>
    <td><%= link_to 'Show', contest3rd %></td>
    <td><%= link_to 'Edit', edit_contest3rd_path(contest3rd) %></td>
    <td><%= link_to 'Destroy', contest3rd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest3rd', new_contest3rd_path %>
