<h2><%= @order %>組の対戦結果の編集</h2>
<p>曲名の編集は<%= link_to 'こちら', root_url + 'contest3rd/tunesedit/' + @order.to_s %></p>

<%= form_tag action: :scoreupdate do %>
  <% @tunes.each_with_index do |tune, i| %>
  <% @tune = tune %>
    <h4><%= @tunes[i].team %>チーム <%= @tunes[i].name %> の結果</h4>

    <table class="style-table">
      <thead>
        <tr><th></th><th>曲</th><th>スコア</th><th>クリアランプ</th></tr>
      </thead>
      <tbody>
        <tr>
          <td>A曲</td>
          <td><%= @tunes[0].music %></td>
          <td><%= number_field "tune[]", :a_score, class: 'span1', id: 'no-margin' %></td>
          <td><%= select "tune[]", :a_clear, @clearlamp, class: 'span1', id: 'no-margin' %></td>
        </tr>
        <tr>
          <td>B曲</td>
          <td><%= @tunes[1].music %></td>
          <td><%= number_field "tune[]", :b_score, class: 'span1', id: 'no-margin' %></td>
          <td><%= select "tune[]", :b_clear, @clearlamp, index: i, class: 'span1', id: 'no-margin' %></td>
        </tr>
        <tr>
          <td>C曲</td>
          <td><%= @tunes[2].music %></td>
          <td><%= number_field "tune[]", :c_score, class: 'span1', id: 'no-margin' %></td>
          <td><%= select "tune[]", :c_clear, @clearlamp, class: 'span1', id: 'no-margin' %></td>
        </tr>
        <tr>
          <td>動画URL</td>
          <td colspan="3"><%= text_field "tune[]", :movie_url, class: 'span5', id: 'no-margin' %></td>
      </tbody>
    </table>

    <%= hidden_field "tune[]", :order %>
    <%= hidden_field "tune[]", :team %>
    <br>
  <% end %>

  <div class="actions">
    <%= submit_tag '編集', class: 'btn'%>
  </div>
<% end %>


<%= link_to 'Back', root_url + 'contest3rd' %>
