<p id="notice"><%= notice %></p>

<p>
  <b>A score:</b>
  <%= @contest3rd.a_score %>
</p>

<p>
  <b>A clear:</b>
  <%= @contest3rd.a_clear %>
</p>

<p>
  <b>B score:</b>
  <%= @contest3rd.b_score %>
</p>

<p>
  <b>B clear:</b>
  <%= @contest3rd.b_clear %>
</p>

<p>
  <b>C score:</b>
  <%= @contest3rd.c_score %>
</p>

<p>
  <b>C clear:</b>
  <%= @contest3rd.c_clear %>
</p>

<p>
  <b>Name:</b>
  <%= @contest3rd.name %>
</p>

<p>
  <b>Music:</b>
  <%= @contest3rd.music %>
</p>

<p>
  <b>Order:</b>
  <%= @contest3rd.order %>
</p>

<p>
  <b>Team:</b>
  <%= @contest3rd.team %>
</p>

<p>
  <b>Movie url:</b>
  <%= @contest3rd.movie_url %>
</p>


<%= link_to 'Edit', edit_contest3rd_path(@contest3rd) %> |
<%= link_to 'Back', contest3rds_path %>
