<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @contestdate3rd.order %>
</p>

<p>
  <b>Place:</b>
  <%= @contestdate3rd.place %>
</p>


<%= link_to 'Edit', edit_contestdate3rd_path(@contestdate3rd) %> |
<%= link_to 'Back', contestdate3rds_path %>
