<h2>ログイン画面</h2>

<%= form_tag sessions_path do %>
<table id="login_form">
    <tr>
    <td><%= label_tag :account, 'アカウント名' %></td>
    <td><%= text_field_tag :account, params[:account] %></td>
</tr>

<tr>
    <td><%= label_tag :pass, 'パスワード' %></td>
    <td><%= password_field_tag :pass, params[:pass] %></td>
</tr>

<tr>
    <td><%= submit_tag "ログイン", :class => "btn" %></td>
</tr>
</table>

<% end %>
