%table.style-table
  %thead
    %tr
      %th
        Title
      %th
        Url
      %th
        Menu
      %th
        Type
      %th
      %th
      - if is_admin?
        %th
  %tbody
    - @entries.each do |entry|
      %tr
        %td
          = entry.title
        %td
          = entry.url
        %td
          = entry.menu.try(:title)
        %td
          = entry.entry_type
        %td
          = link_to '開く', entry_path(entry.url)
        %td
          = link_to '編集', edit_entry_path(entry)
        - if is_admin?
          %td= link_to '削除', entry_path(entry), method: :delete
%br
= link_to 'New Entry', new_entry_path
