
<ul class="nav nav-tabs">
  <li class="active"><%= link_to "Master部門結果", '#top0', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "ランキング", '#top1', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "概要", '#top2', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "投票結果", '#top3', :"data-toggle" => 'tab' %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="top0">
    <%= raw @result %>
  </div>

  <div class="tab-pane" id="top1">

    <h4>曲目</h4>
    <p>以下の譜面をプレーしていただきます。</p>
    <table class="style-table">
      <thead>
        <tr>
          <th>機種名</th>
          <th>譜面</th>
        </tr>
      </thead>
      <tbody>
        <% (@master_game.size).times do |i| %>
          <tr>
            <td><%= @master_game[i].title %></td>
            <td>
              <% (@tops[i].size).times do |j| %>
                <% if j != 0 %>
                ,
                <% end %>
              <%= @tops[i][j].title%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>

    <h4>結果</h4>
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "偏差値", '#standard-score', :"data-toggle" => 'tab' %></li>
      <li><%= link_to "スコア", '#score', :"data-toggle" => 'tab' %></li>
    </ul>


    <div class="tab-content">
      <div class="tab-pane active" id="standard-score">


        <table class="style-table">
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <th>合計</th>
              <% (@master_game.size).times do |i| %>
                <th>
                  <%= raw @master_game[i].short_title.gsub(/\s/, '<br>') %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <br>

      </div>

      <div class="tab-pane" id="score">
        <table class="style-table">
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <% (@master_game.size).times do |i| %>
              <th>
                <%= raw @master_game[i].short_title.gsub(/\s/, '<br>') %>
              </th>
              <% end %>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
        <br>

      </div>

    </div>
  </div>

  <div class="tab-pane" id="top2">
    <%= raw @text %>
  </div>

  <div class="tab-pane" id="top3">
    <ul class="nav nav-pills">
      <% (@master_game.size).times do |i| %>
      <% if i == 0 %>
      <li class="active"><%= link_to @master_game[i].title, '#menu' + i.to_s, :"data-toggle" => 'tab' %></li>
      <% else %>
      <li><%= link_to @master_game[i].title, '#menu' + i.to_s, :"data-toggle" => 'tab'%></li>
      <% end %>
      <% end %>
    </ul>


    <div class="tab-content">
      <% (@master_game.size).times do |i| %>
      <% if i == 0 %>
      <div class="tab-pane active" id="menu<%= i.to_s %>">
        <% else %>
        <div class="tab-pane" id="menu<%= i.to_s %>">
          <% end %>
          <table class="style-table">
            <thead>
              <tr>
                <th>譜面</th>
                <th>投票数</th>
              </tr>
            </thead>
            <tbody>
              <% (@music_by_game[i].size).times do |j| %>
              <tr>
                <td>
                  <% if @music_by_game[i][j].url && @music_by_game[i][j].url.length > 0 %>
                  <%= link_to @music_by_game[i][j].title, @music_by_game[i][j].url %>
                  <% else %>
                  <%= @music_by_game[i][j].title %>
                  <% end %>
                </td>
                <td><%= @music_by_game[i][j].number %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  masterMusicsLoader();
</script>
