
<% if @bEntriable == true %>
<h4>エントリー</h4>
<p>マスター部門に参加するには以下からエントリーしてください。</p>
<%= button_to "エントリーする", root_url + 'master_users/new', {:method => "get", :class => "btn"} %>
<br>
<% end %>
<% if @bEntried == true %>
<h4>結果編集</h4>
<p>あなたの現在のスコアを編集するには以下から編集してください。</p>
<%= button_to "スコア編集", root_url + 'master_scores/edit', {:method => "get", :class => "btn"} %>
<br>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to "概要", '#top1', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "ランキング", '#top2', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "投票結果", '#top3', :"data-toggle" => 'tab' %></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="top1">
    <%= raw @text %>
  </div>
  
  <div class="tab-pane" id="top2">

    <h4>曲目</h4>
    <p>以下の譜面をプレーしていただきます。</p>
    <table class="style-table">
      <thead>
        <tr>
          <th>機種名</th>
          <th>譜面</th>
        </tr>
      </thead>
      <tbody>
        <% (@master_game.size).times do |i| %>
        <tr>
          <td><%= @master_game[i].title %></td>
          <td>
            <% (@tops[i].size).times do |j| %>
            <% if j != 0 %>
            ,
            <% end %>
            <%= @tops[i][j].title%>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    
    <h4>結果</h4>
    <table class="style-table">
      <thead>
        <tr>
          <th>順位</th>
          <th>名前</th>
          <th>合計</th>
          <% (@master_game.size).times do |i| %>
          <th>
            <%= @master_game[i].short_title %>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% last_score = -1 %>
        <% last_rank = 1 %>
        <% @master_users.each_with_index do |master_user, i| %>
        <% account = master_user.account %>
        <tr>
          <td>
            <% if last_score == master_user.total_standard_score %>
            <%= last_rank %>
            <% else %>
            <%= i + 1 %>
            <% last_rank = i + 1 %>
            <% end %>
            <% last_score = master_user.total_standard_score %>
          </td>
          <td>
            <%= master_user.name %>
          </td>
          <td>
            <%= sprintf("%.1f", master_user.total_standard_score) %><br>
          </td>
          <% (@master_game.size).times do |i| %>
          <td>
            <%= sprintf("%.1f", @master_game[i].standard_score_by_account(account)) %><br>
            <% if @master_game[i].url_by_account(account) && @master_game[i].url_by_account(account).length > 0 %>
            (<%= link_to @master_game[i].music_score_by_account(account), @master_game[i].url_by_account(account) %>)
            <% else %>
            (<%= @master_game[i].music_score_by_account(account) %>)
            <% end %>
          </td>
          <% end %>
        </tr>  
        <% end %>
      </tbody>
    </table>
    <br>
<!--
    <% if @current_user %>
    <br><%= button_to "機種を追加", root_url + 'master_games/new', {:method => "get", :class => "btn"} %>
    <% end %>
    <br>-->
  </div>
  <div class="tab-pane" id="top3">

    </div>
  </div>
</div>
