
<% if @bEntriable == true %>
<h4>エントリー</h4>
<p>マスター部門に参加するには以下からエントリーしてください。</p>
<%= button_to "エントリーする", root_url + 'master_users/new', {:method => "get", :class => "btn"} %>
<br>
<% end %>
<% if @bEntried == true %>
<h4>結果編集</h4>
<p>あなたの現在のスコアを編集するには以下から編集してください。</p>
<%= button_to "スコア編集", root_url + 'master_scores/edit', {:method => "get", :class => "btn"} %>
<br>
<% end %>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to "ランキング", '#top1', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "概要", '#top2', :"data-toggle" => 'tab' %></li>
  <li><%= link_to "投票結果", '#top3', :"data-toggle" => 'tab' %></li>
</ul>

<div class="tab-content">  
  <div class="tab-pane active" id="top1">

    <h4>曲目</h4>
    <p>以下の譜面をプレーしていただきます。</p>
    <table class="style-table">
      <thead>
        <tr>
          <th>機種名</th>
          <th>譜面</th>
        </tr>
      </thead>
      <tbody>
        <% (@master_game.size).times do |i| %>
          <tr>
            <td><%= @master_game[i].title %></td>
            <td>
              <% (@tops[i].size).times do |j| %>
                <% if j != 0 %>
                ,
                <% end %>
              <%= @tops[i][j].title%>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br>
    
    <h4>結果</h4>
    <ul class="nav nav-tabs">
      <li class="active"><%= link_to "偏差値", '#standard-score', :"data-toggle" => 'tab' %></li>
      <li><%= link_to "スコア", '#score', :"data-toggle" => 'tab' %></li>
    </ul>

    
    <div class="tab-content">  
      <div class="tab-pane active" id="standard-score">


        <table class="style-table">
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <th>合計</th>
              <% (@master_game.size).times do |i| %>
                <th>
                  <%= raw @master_game[i].short_title.gsub(/\s/, '<br>') %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% last_score = -1 %>
            <% last_rank = 1 %>
            <% @master_users.each_with_index do |master_user, i| %>
              <% account = master_user.account %>
              <tr>
                <td>
                  <% if last_score == master_user.total_standard_score %>
                    <%= last_rank %>
                  <% else %>
                    <%= i + 1 %>
                    <% last_rank = i + 1 %>
                  <% end %>
                  <% last_score = master_user.total_standard_score %>
                </td>
                <td>
                  <%= master_user.name %>
                </td>
                <td>
                  <%= sprintf("%.1f", master_user.total_standard_score) %><br>
                </td>
                <% @master_game.each do |master_game| %>
                  <td>
                    <% @master_score = MasterScore.where(:account => account, :game => master_game.id).first %>            
                    
                    <%= sprintf("%.1f", @master_score.standard_score) %>                   
                  </td>
                <% end %>
              </tr>  
            <% end %>
          </tbody>
        </table>
        <br>
        
      </div>

      <div class="tab-pane" id="score">
        <table class="style-table">
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <% (@master_game.size).times do |i| %>
              <th>
                <%= raw @master_game[i].short_title.gsub(/\s/, '<br>') %>
              </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% last_score = -1 %>
            <% last_rank = 1 %>
            <% @master_users.each_with_index do |master_user, i| %>
            <% account = master_user.account %>
            <tr>
              <td>
                <% if last_score == master_user.total_standard_score %>
                <%= last_rank %>
                <% else %>
                <%= i + 1 %>
                <% last_rank = i + 1 %>
                <% end %>
                <% last_score = master_user.total_standard_score %>
              </td>
              <td>
                <%= master_user.name %>
              </td>
              <% @master_game.each do |master_game| %>
              <td>
                <% @master_score = MasterScore.where(:account => account, :game => master_game.id).first %>            

                <% if master_game.id != 3 && master_game.id != 4 && master_game.id != 13 %>
                <% score = @master_score.score.to_i %>
                <% else %>
                <% score = @master_score.score %>
                <% end %>
                
                <% if @master_score.url && @master_score.url.length > 0 %>
                <a href="<%= @master_score.url %>"><%= score %></a>
                <% else %>
                <%= score %>
                <% end %>
              </td>
              <% end %>
            </tr>  
            <% end %>
            <tr>
              <td>
                -
              </td>
              <td>
                平均
              </td>
              <% @master_game.each do |master_game| %>
              <td>
                <% if master_game.id != 3 && master_game.id != 4 && master_game.id != 13 %>
                <%= sprintf("%d", master_game.average) %>
                <% else %>
                <%= sprintf("%.2f", master_game.average) %>
                <% end %>                
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <br>
        
      </div>

    </div>
  </div>
  
  <div class="tab-pane" id="top2">
    <%= raw @text %>
  </div>

  <div class="tab-pane" id="top3">
    <ul class="nav nav-pills">
      <% (@master_game.size).times do |i| %>
      <% if i == 0 %>
      <li class="active"><%= link_to @master_game[i].title, '#menu' + i.to_s, :"data-toggle" => 'tab' %></li>
      <% else %>
      <li><%= link_to @master_game[i].title, '#menu' + i.to_s, :"data-toggle" => 'tab'%></li>    
      <% end %>
      <% end %>
    </ul>


    <div class="tab-content">
      <% (@master_game.size).times do |i| %>
      <% if i == 0 %>
      <div class="tab-pane active" id="menu<%= i.to_s %>">
        <% else %>
        <div class="tab-pane" id="menu<%= i.to_s %>">
          <% end %>
          <table class="style-table">
            <thead>
              <tr>
                <th>譜面</th>
                <th>投票数</th>
              </tr>
            </thead>
            <tbody>
              <% (@music_by_game[i].size).times do |j| %>
              <tr>
                <td>
                  <% if @music_by_game[i][j].url && @music_by_game[i][j].url.length > 0 %>
                  <%= link_to @music_by_game[i][j].title, @music_by_game[i][j].url %>
                  <% else %>
                  <%= @music_by_game[i][j].title %>
                  <% end %>
                </td>
                <td><%= @music_by_game[i][j].number %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

