<%= form_for(@contestdate) do |f| %>
  <% if @contestdate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestdate.errors.count, "error") %> prohibited this contestdate from being saved:</h2>

      <ul>
      <% @contestdate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
