<%= form_for @user, :url => {:action => 'update_password'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!--
  <div class="field">
    <%= f.label "BEATECH ID" %>
    <%= f.text_field :account %>
  </div>
  -->

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <!--
  <div class="field">
    <%= f.label :uid %>
    <%= f.number_field :uid %>
  </div>
  -->
  <div class="actions">
    <%= f.submit :class => "btn" %>
  </div>
<% end %>
