<%= form_for @user, :url => {:action => 'update_password'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "新しいパスワード" %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label "新しいパスワード確認" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "設定", :class => "btn" %>
  </div>
<% end %>
