<p>4年生 <%= @num_4th %>名, 3年生 <%= @num_3rd %>名, 2年生 <%= @num_2nd %>名, 1年生 <%= @num_1st %>名, 計<%= @num_member %>名 (新入生 <%= @num_0th %>名, OB <%= @num_ob %>名)</p>
<p>名前をクリックすると詳細が見れます。</p>
<ul class="nav nav-tabs">
  <li class="active"><a href="#users_4th" data-toggle="tab">4年生</a></li>
  <li><a href="#users_3rd" data-toggle="tab">3年生</a></li>
  <li><a href="#users_2nd" data-toggle="tab">2年生</a></li>
  <li><a href="#users_1st" data-toggle="tab">1年生</a></li>
  <li><a href="#users_0th" data-toggle="tab">新入生</a></li>
  <li><a href="#users_ob"  data-toggle="tab">OB</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="users_4th">
    <% @users_4th.each do |user| %>
    <%= raw user_data(user) %>
    <% end %>
  </div>
  <div class="tab-pane" id="users_3rd">
    <% @users_3rd.each do |user| %>
    <%= raw user_data(user) %>
    <% end %>
  </div>
  <div class="tab-pane" id="users_2nd">
    <% @users_2nd.each do |user| %>
    <%= raw user_data(user) %>
    <% end %>
  </div>
  <div class="tab-pane" id="users_1st">    
    <% @users_1st.each do |user| %>
    <%= raw user_data(user) %>
    <% end %>
  </div>
  <div class="tab-pane" id="users_0th">
    <% @users_0th.each do |user| %>
    <%= raw user_data(user) %>
    <% end %>
  </div>
  <div class="tab-pane" id="users_ob">
    <% @users_ob.each do |user| %>
    <%= raw user_data(user) %>
    <% end %>
  </div>
</div>
