%p
  - 4.downto(1).each do |grade|
    #{grade}年生 #{@users_by_grade[grade].size}名,
  計#{@active_members_count}名
  %span><
    (#{ welcome_term? ? "新入生 #{@users_by_grade[User::GRADE_NEWCOMER].size}名, " : "" }
    OB #{@users_by_grade[User::GRADE_OB].size}名)

%p
  名前をクリックすると詳細が見れます。

- if welcome_term?
  - grades = [4, 3, 2, 1, User::GRADE_NEWCOMER, User::GRADE_OB]
- else
  - grades = [4, 3, 2, 1, User::GRADE_OB]

%ul.nav.nav-tabs
  - grades.each_with_index do |grade, index|
    %li{ class: ("active" if index == 0) }
      = link_to grade_label(grade), "#users_grade#{grade}", data: { toggle: "tab" }

.tab-content
  - grades.each_with_index do |grade, index|
    .tab-pane{ id: "users_grade#{grade}", class: ("active" if index == 0) }
      - @users_by_grade[grade].each do |user|
        = render "user_data", user: user
