<%= form_for @user, :url => {:action => 'create_user'} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>入部について</h4>
  <p>部員には、音ゲーをやっている、現役の東工大学部生を受け付けています。<br>
  該当する方はこのページから入部申請を行うとBEATECHアカウントが作成され、その場で入部したことになります。</p>
  <br>

  <h4>入部申請フォーム</h4>
  <div class="field">
    <%= f.label "名前" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "BEATECH アカウント" %>
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label "パスワード" %>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label "パスワード確認" %>
    <%= f.text_field :password_confirmation %>
  </div>

  <!--
  <div class="field">
    <%= f.label :uid %>
    <%= f.number_field :uid %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.number_field :state %>
  </div>
  <div class="field">
    <%= f.label :profile %><br />
    <%= f.text_field :profile %>
  </div>
  -->
  <div class="actions">
    <%= f.submit "入部する", :class => "btn" %>
  </div>
<% end %>
