= form_for @user, url: { action: "create" } do |f|
  %h3 入部について
  %p
    部員には、音ゲーをやっている、現役の東工大学部生を受け付けています。
    %br
    該当する方はこのページから入部申請を行うとBEATECHアカウントが作成され、その場で入部したことになります。
    %br
    %br
    なお、BEATECHアカウントを作成後、プロフィール編集ページからTwitterアカウントの認証を行うと、アイコンが修正され、Twitterアカウントでログインすることが可能になります。
    %br
    Twitterアカウントは複数認証できます。
  %h3 入部申請フォーム
  .field
    = f.label "名前(部員紹介で表示されるハンドルネームです)"
    = f.text_field :name
  .field
    = f.label "BEATECH アカウント(ログインに使うIDになります)"
    = f.text_field :username
  .field
    = f.label "パスワード"
    = f.text_field :password
  .field
    = f.label "パスワード確認"
    = f.text_field :password_confirmation
  .field
    = f.label "入学年度"
    = f.number_field :year
  = f.hidden_field :repeated_year
  .actions
    = f.submit "入部する", class: "btn"
