%h1 パスワード変更
= form_for @current_user, url: { action: 'update' } do |f|
  .field
    = f.label "新しいパスワード"
    = f.password_field :password
  .field
    = f.label "新しいパスワード確認"
    = f.password_field :password_confirmation
  .actions
    = f.submit "設定", class: "btn"
