%h1 プロフィールの編集
= form_for @current_user, url: { action: :update, item: 'profile' } do |f|
  .field
    = f.label '名前'
    = f.text_field :name
  .field
    = f.label 'Twitterアカウント'
    - if @current_user.twitter_accounts && @current_user.twitter_accounts.size > 0
      %table.style-table{style: 'margin-bottom: 10px;'}
        %thead
          %tr
            %th ID
            %th
        %tbody
          - @current_user.twitter_accounts.each do |twitter_account|
            %tr
              %td= twitter_account.screen_name
              %td= link_to '削除', "/twitter_accounts/destroy/#{twitter_account.id}"
    = link_to 'アカウント追加', '/auth/twitter', class: 'btn', style: 'text-decoration: none; color: #000; margin-bottom: 10px;'
  .field
    = f.label '入学年度・留年回数'
    = f.number_field :year
    = f.select :repeated_year, {:'留年なし' => 0, :'1回' => 1, :'2回' => 2, :'3回' => 3, :'4回' => 4}
  .field
    = f.label '短いプロフィール(160文字まで 5行目以降は表示されません)'
    = f.text_area :bio, class: 'span8', rows: '4', maxlength: '160'
  .field
    = f.label '詳細プロフィール'
    = f.text_area :profile, class: 'span8', rows: '10', maxlength: '1000'
  .actions
    = f.hidden_field :id
    = f.submit '更新', class: 'btn'
