= render 'user_data', user: @user
%h4 学年
%p= grade_label(@user.grade)
%h4 詳細プロフィール
= markdown(@user.profile)
- if @user.achievements.length > 0
  %h4{:style => "margin-top: 20px;"} 成果一覧
  - last_date = nil
  - @user.achievements.each_with_index do |achievement, i|
    - if i == 0
      %div{:style => "margin-left: 5px; margin-top:5px;"}
        %strong= achievement.date
      %p{:style => "margin-left: 10px;"}
    - elsif last_date != achievement.date
      %div{:style => "margin-left: 5px; margin-top:5px;"}
        %strong= achievement.date
      %p{:style => "margin-left: 10px;"}

%br
= link_to 'メンバー紹介に戻る', users_path
