<p>
  <b>BEATECH ID:</b>
  <%= @user.account %>
</p>

<p>
  <b>名前:</b>
  <%= @user.name %>
</p>

<p>
  <b>UID:</b>
  <%= @user.uid %>
</p>

<p>
  <b>Year:</b>
  <%= @user.year %>
</p>

<p>
  <b>プロフィール:</b><br />
  <%= @user.profile %>
</p>
