<h2><%= @contest2nd.team %>チーム <%= @contest2nd.order %>組 <%= @contest2nd.name %> 対戦結果編集</h2>

<%= form_for(@contest2nd) do |f| %>
  <% if @contest2nd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contest2nd.errors.count, "error") %> prohibited this contest2nd from being saved:</h2>

      <ul>
      <% @contest2nd.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    A曲のスコア<br>
    <%= f.number_field :a_score %>
  </div>
  <div class="field">
    A曲BP<br>
    <%= f.number_field :a_bp %>
  </div>
  <div class="field">
    B曲のスコア<br>
    <%= f.number_field :b_score %>
  </div>
  <div class="field">
    B曲BP<br>
    <%= f.number_field :b_bp %>
  </div>
  <div class="field">
    C曲のスコア<br>
    <%= f.number_field :c_score %>
  </div>
  <div class="field">
    C曲BP<br>
    <%= f.number_field :c_bp %>
  </div>
  <div class="field">
    対戦動画URL<br>
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit '編集', :class => 'btn' %>
  </div>
<% end %>

<%= link_to 'Back', root_url + 'contest2nd' %>
