<h1>Listing contest2nds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Order</th>
    <th>A score</th>
    <th>A bp</th>
    <th>B score</th>
    <th>B bp</th>
    <th>C score</th>
    <th>C bp</th>
    <th>Music</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contest2nds.each do |contest2nd| %>
  <tr>
    <td><%= contest2nd.name %></td>
    <td><%= contest2nd.team %></td>
    <td><%= contest2nd.order %></td>
    <td><%= contest2nd.a_score %></td>
    <td><%= contest2nd.a_bp %></td>
    <td><%= contest2nd.b_score %></td>
    <td><%= contest2nd.b_bp %></td>
    <td><%= contest2nd.c_score %></td>
    <td><%= contest2nd.c_bp %></td>
    <td><%= contest2nd.music %></td>
    <td><%= contest2nd.notes %></td>
    <td><%= link_to 'Show', contest2nd %></td>
    <td><%= link_to 'Edit', edit_contest2nd_path(contest2nd) %></td>
    <td><%= link_to 'Destroy', contest2nd, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contest2nd', new_contest2nd_path %>
