<h4>目次</h4>
<ul>
  <li><a href="#rule">ルール</a></li>
  <li><a href="#team">チーム分け<% if @current_user %>(対戦結果編集)<% end %></a></li>
  <li><a href="#tunes">選曲</a></li>
  <li><a href="#result">試合結果</a></li>
</ul>
<br>
<h4 id="rule">ルール</h4>
<p>参加する部員を3つのチームに分け、実力の近い人同士で3人のグループを作って対戦します。
<br>チーム全体の合計EX SCOREによって勝敗を決定します。
<br>スコアの集計にリザルト画面を利用するので、リザルトの撮影は忘れないでください。
<br>選曲はそれぞれのチームから、1人1曲ずつ計3曲を指定します。
<br>禁止オプションはオートスクラッチ、レガシーです。
<br>また、開催場所・日程は様々な都合上、各グループごとに決定して行ないます。
<br>観戦は自由ですが、あまり関係のない人に迷惑がかからないよう空気を読んで行ないましょう。
<br>
<br></p>

<h4 id="team">チーム分け<% if @current_user %>(対戦結果編集)<% end %></h4>
<% if @current_user %>
<p>対戦結果の編集はこの表から各組ごとに行なってください。</p>
<% end %>

<table class="style-table">
  <thead>
  <tr>
    <th>対戦組</th>
    <th>Aチーム</th>
    <th>Bチーム</th>
    <th>Cチーム</th>
    <% if @current_user %>
    <th>結果編集</th>
    <% end %>
    <th>日程・会場</th>
    <% if @current_user %>
    <th>会場編集</th>
    <% end %>
  </tr>
  </thead>
<tbody>
<% (@contestdates.size).times do |i| %>
  <tr>
    <td><%= @contestdates[i].order %>組</td>
    <% %w|A B C|.each do |team_char| %>
    <td>
      <%= @team[team_char][i].name %>
    </td>
    <% end %>
    <% if @current_user %>
    <td><%= link_to 'Edit', root_url + 'contest2nd/scoreedit/' + (i + 1).to_s %></td>
    <% end %>
    <td><%= @contestdates[i].place %></td>
    <% if @current_user %>
    <td><%= link_to 'Edit', edit_contestdate_path(@contestdates[i]) %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<br />
<br />

<h4 id="tunes">選曲</h4>

<table class="style-table">
  <thead>
  <tr>
    <th>対戦組</th>
    <th colspan="2">Aチーム</th>
    <th colspan="2">Bチーム</th>
    <th colspan="2">Cチーム</th>
    <% if @current_user %>
    <th>編集</th>
    <% end %>
  </tr>
  </thead>
<tbody>
<% (@contestdates.size).times do |i| %>
  <tr>
    <td><%= @contestdates[i].order %>組</td>
    <% %w|A B C|.each do |team_char| %>
    <td nowrap><small><%= @team[team_char][i].name %></small></td>
    <td><small><%= @team[team_char][i].music %></small></td>
    <% end %>
    <% if @current_user %>
    <td><%= link_to 'Edit', root_url + 'contest2nd/tunesedit/' + (i + 1).to_s %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<br />
<br />


<h4 id="result">試合結果</h4>
<p>名前をクリックするとその人のプレー動画を見ることができます。
<% if @current_user %>
<br>試合結果の編集は<a href="#team">こちら</a>から行なってください。
<% end %>
</p>
<ul><li>EX SCORE</li></ul>
<table class="style-table">
  <thead>
    <tr>
      <th colspan="5">Aチーム</th>
      <th colspan="5">Bチーム</th>
      <th colspan="5">Cチーム</th>
    </tr>
    <tr>
      <% 3.times do %>
      <th>名前</th>
      <th>A曲</th>
      <th>B曲</th>
      <th>C曲</th>
      <th>合計</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (@team["A"].size).times do |i| %>
    <tr>
      <% %w|A B C|.each do |team_char| %>
        <td>
          <% if @team[team_char][i].url != nil && @team[team_char][i].url.length > 0 %>
          <%= link_to @team[team_char][i].name, @team[team_char][i].url %>
          <% else %>
          <%= @team[team_char][i].name %>
          <% end %>
        </td>
        <td><%= @team[team_char][i].a_score %></td>
        <td><%= @team[team_char][i].b_score %></td>
        <td><%= @team[team_char][i].c_score %></td>
        <td><%= @team[team_char][i]["total_score"] %></td>
      <% end %>
    </tr>
    <% end %>
    <tr>
      <% %w|A B C|.each do |team_char| %>
      <td nowrap>チーム合計</td>
      <td colspan="4"><%= @total_score[team_char] %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br />


<ul><li>スコアレート</li></ul>
<table class="style-table">
  <thead>
    <tr>
      <th colspan="5">Aチーム</th>
      <th colspan="5">Bチーム</th>
      <th colspan="5">Cチーム</th>
    </tr>
    <tr>
      <% 3.times do %>
      <th>名前</th>
      <th>A曲</th>
      <th>B曲</th>
      <th>C曲</th>
      <th>合計</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (@team["A"].size).times do |i| %>
      <tr>
        <% %w|A B C|.each do |team_char| %>
          <td>
            <% if @team[team_char][i].url != nil && @team[team_char][i].url.length > 0 %>
            <%= link_to @team[team_char][i].name, @team[team_char][i].url %>
            <% else %>
            <%= @team[team_char][i].name %>
            <% end %>
          </td>
          <td><%= @team[team_char][i]["a_rate"] %></td>
          <td><%= @team[team_char][i]["b_rate"] %></td>
          <td><%= @team[team_char][i]["c_rate"] %></td>
          <td><%= @team[team_char][i]["total_rate"] %></td>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <% %w|A B C|.each do |team_char| %>
        <td nowrap>チーム合計</td>
        <td colspan="4"><%= @total_rate[team_char] %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br />


<ul><li>MISS COUNT</li></ul>
<table class="style-table">
  <thead>
    <tr>
      <th colspan="5">Aチーム</th>
      <th colspan="5">Bチーム</th>
      <th colspan="5">Cチーム</th>
    </tr>
    <tr>
      <% 3.times do %>
      <th>名前</th>
      <th>A曲</th>
      <th>B曲</th>
      <th>C曲</th>
      <th>合計</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% (@team["A"].size).times do |i| %>
    <tr>
      <% %w|A B C|.each do |team_char| %>
        <td>
          <% if @team[team_char][i].url != nil && @team[team_char][i].url.length > 0 %>
          <%= link_to @team[team_char][i].name, @team[team_char][i].url %>
          <% else %>
          <%= @team[team_char][i].name %>
          <% end %>
        </td>
        <td><%= @team[team_char][i].a_bp %></td>
        <td><%= @team[team_char][i].b_bp %></td>
        <td><%= @team[team_char][i].c_bp %></td>
        <td><%= @team[team_char][i]["total_bp"] %></td>
      <% end %>
    </tr>
    <% end %>
    <tr>
      <% %w|A B C|.each do |team_char| %>
        <td nowrap>チーム合計</td>
        <td colspan="4"><%= @total_bp[team_char] %></td>
      <% end %>
    </tr>
  </tbody>
</table>
<br />
</tbody>
</table>

<br />
