<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contest2nd.name %>
</p>

<p>
  <b>Team:</b>
  <%= @contest2nd.team %>
</p>

<p>
  <b>Order:</b>
  <%= @contest2nd.order %>
</p>

<p>
  <b>A score:</b>
  <%= @contest2nd.a_score %>
</p>

<p>
  <b>A bp:</b>
  <%= @contest2nd.a_bp %>
</p>

<p>
  <b>B score:</b>
  <%= @contest2nd.b_score %>
</p>

<p>
  <b>B bp:</b>
  <%= @contest2nd.b_bp %>
</p>

<p>
  <b>C score:</b>
  <%= @contest2nd.c_score %>
</p>

<p>
  <b>C bp:</b>
  <%= @contest2nd.c_bp %>
</p>

<p>
  <b>Music:</b>
  <%= @contest2nd.music %>
</p>

<p>
  <b>Notes:</b>
  <%= @contest2nd.notes %>
</p>


<%= link_to 'Edit', edit_contest2nd_path(@contest2nd) %> |
<%= link_to 'Back', contest2nds_path %>
