<h2><%= @order %>組の選曲の編集</h2>

<%= form_tag :action => :tunesupdate do %>
<% i = 0 %>
  <% @tunes.each do |tune| %>
  @tune = tune
    <% team_char = 'A' %>
    <% team_char = 'B' if i == 1 %>
    <% team_char = 'C' if i == 2 %>
    <h4><%= team_char %>チーム</h4>
    <div class="field">
      曲名<br>
      <%= text_field "tune[]", :music, :index => i %>
    </div>
    <div class="field">
      ノーツ数<br>
      <%= number_field "tune[]", :notes, :index => i %>
    </div>
    <%= hidden_field "tune[]", :order, :index => i %>
    <%= hidden_field "tune[]", :team, :index => i %>
    <br>
    <% i += 1 %>
  <% end %>
  
  <div class="actions">
    <%= submit_tag '編集', :class => 'btn'%>
  </div>
<% end %>


<%= link_to 'Back', root_url + 'contest2nd' %>
