<%= form_for(@page) do |f| %>
  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "ページ名" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label "メニュー" %>
    <%= f.number_field :menu %>
  </div>

  <div class="field">
    <%= f.label "本文" %>
    <%= f.text_area :text, :class => "span8", :rows => "16" %>
  </div>
  <div class="actions">
    <%= f.submit "ページの更新", :class => "btn" %>
  </div>
<% end %>
