%header
  .container
    .nav_bar
      %h1.title_logo.vertical_middle= link_to 'BEATECH', :root
      .account.vertical_middle.dropdown
        - if @current_user
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            = @current_user.username
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'プロフィールを編集', "#{root_url}users/edit/#{@current_user.username}"
            %li= link_to 'ユーザー名変更', "#{root_url}settings/account"
            %li= link_to 'パスワード変更', "#{root_url}settings/password"
            %li.divider
            %li= link_to 'ログアウト', session_path, method: :delete
        - else
          %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
            ログイン
            %span.white_caret
          %ul.dropdown-menu
            %li
              = form_tag session_path do
                = label_tag :username, 'BEATECH アカウント'
                = text_field_tag :username, params[:username], class: 'span3'
                = label_tag :password, 'パスワード'
                = password_field_tag :password, params[:password], class: 'span3'
                = submit_tag 'ログイン', class: 'btn'
            %li.divider
            %li
              または
              %br
              %span
                .btn.btn-info= link_to 'Twitterでログイン', '/auth/twitter'
    .header_menu
      %ul
        %li= link_to 'ホーム', :root
        - if @current_user
          %li= link_to 'ページ新規作成', new_entry_path
          = raw edit_link
        - else
          - if @header_menu
            - @header_menu.each do |menu|
              %li= link_to menu.title, root_url + menu.url

