!!!
%html{lang: "ja"}
  = render "layouts/head"
  %body
    = render "layouts/header"
    .container
      #left_column
        = render "layouts/side_menu"
      #right_column
        = render "layouts/flash"
        .contents
          - if @entry && @entry.title
            %h1= @entry.title
          - elsif title
            %h1= title
          = yield
    = render "layouts/footer"
