<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="shortcut icon" href="assets/favicon.png" />
    <link rel="stylesheet" href="css/common.css" type="text/css" />
    <title><%= page_title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "bootstrap" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="top">
      <div id="box">
        <div id="header">
          <h1 id="text-dropshadow"><%= link_to "BEATECH", :root %></h1>
          <div class="account">
            <% if @current_user %>
            <div class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="text-dropshadow"><%= @current_user.account %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "プロフィールを編集", root_url + "settings/profile" %></li>
                <li><%= link_to "パスワード変更", root_url + "settings/password" %></li>
                <li class="divider"></li>
                <li><%= link_to 'ログアウト', session_path(@current_user.account), :method => :delete %></li>
              </ul>
            </div>
            <% else %>
            <div class="dropdown pull-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="text-dropshadow">ログイン<span class="caret"></span></a>
              <ul class="dropdown-menu" id="login">
                <li>
                <%= form_tag sessions_path do %>
                <table id="login"><tbody>
                  <tr><td><%= label_tag :account, 'BEATECH アカウント' %></td></tr>
                  <tr><td><%= text_field_tag :account, params[:account] %></td></tr>
                  <tr><td><%= label_tag :pass, 'パスワード' %></td>
                  <tr><td><%= password_field_tag :pass, params[:pass] %></td></tr>
                  <tr>
                    <td><%= submit_tag "ログイン", :class => "btn" %></td>
                  </tr>
                </tbody></table>
                <% end %>
                </li>
                <li class="divider"></li>
                <li>
                  または<br /><span>
                  <a href="/auth/twitter" class="btn btn-info">Twitterでログイン</a></span>
                </li>
              </ul>
            </div>
            <% end %>
          </div>
        </div><!-- header end -->
        <div id="menu">
          <ul>
            <li><%= link_to "ホーム", :root %></li>
            <% if @current_user %>
            <li><%= link_to "ページ新規作成", root_url + "newpage" %></li>
            <% if @page && @page.url%>
            <li><%= link_to "編集", root_url + "edit/" + @page.url %></li>
            <% end %>
            <% else %>
            <% @header_menu.each do |menu| %>
            <li><%= link_to menu.title, root_url + menu.url %></li>
            <% end %>
            <% end %>
          </ul>
        </div><!-- menu end -->
      </div>
      <div id="contents">
        <div id="subL">
          <div class="section">
            <h2>サークルメニュー</h2>
            <ul>
              <% @circle_menu.each do |menu| %>
              <% if @current_user == nil || menu.url != "registration" %>
              <li><%= link_to menu.title, root_url + menu.url %></li>
              <% end %>
              <% end %>
            </ul>
          </div><!-- section end -->
          <div class="section">
            <h2>交流メニュー</h2>
            <ul>
              <% @communication_menu.each do |menu| %>
              <li><%= link_to menu.title, root_url + menu.url %></li>
              <% end %>
            </ul>
          </div><!-- section end -->
          <div class="section">
            <h2>音ゲーコンテンツ</h2>
            <ul>
              <% @contents_menu.each do |menu| %>
              <li><%= link_to menu.title, root_url + menu.url %></li>
              <% end %>
            </ul>
          </div><!-- section end -->
          <div class="section">
            <h2>最新の10件</h2>
            <% last_date = nil %>
            <% @recent_pages.each_with_index do |menu, i| %>
              <% break if i == 10 %>
              <% if i == 0 %>
                <div style="margin-left: 10px; margin-top:5px;"><strong><%= menu.updated_at.to_date %></strong></div>
                <ul>
              <% elsif last_date != menu.updated_at.to_date %>
                </ul>
                <div style="margin-left: 10px; margin-top:5px;"><strong><%= menu.updated_at.to_date %></strong></div>
                <ul>
              <% end %>
              <% menu.title = 'トップページ' if menu.url == 'frontpage' %>
              <li><%= link_to menu.title, root_url + menu.url %><br></li>
              <% last_date = menu.updated_at.to_date %>
            <% end %>
            </ul>
          </div><!-- section end -->

        </div><!-- subL end -->
        
        <% if flash[:notice] %>
        <div id="main-alert">
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        </div>
        <% end %>

        <div id="main">
          <% if @page && @page.title %>
          <h1><%= @page.title %></h1>
          <% elsif @title %>
          <h1><%= @title %></h1>
          <% end %>
          <div id="inner-main">
            <%= yield %>
          </div>
        </div><!-- main end-->
      </div><!-- contents end -->
      <div id="pageTop">
        <a href="#top">ページのトップへ戻る</a>
      </div><!-- pageTop end -->
      <div id="footer">
        <div class="copyright">Copyright &copy; 2012 beatech.net. All Rights Reserved. Created by ikstrm.</div>
      </div><!-- footer end -->
    </div><!-- top end -->
  </body>
</html>

